<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsubscribe</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

    <style>
        body {
            overflow-y: hidden;
        }
    </style>
</head>
<body>
    <div class='container d-flex justify-content-center mt-4'>
        <div class="card shadow-sm" style='width: 30%;'>
            <div class="card-header justify-content-center"><h3 class="card-title">Unsubscribe from Email Subscriptions</h3></div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'unsubscribe' %}">
                {% csrf_token %}
                <div class="card-body">
                <div class="form-group">
                    <label for="email"><b>Enter your email</b></label>
                    <input type="email" id="email" name="email" class="form-control mt-1" autocomplete="off" required>
                </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">
                        Unsubscribe
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>