<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsubscribe</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

    <style>
        body {
            overflow-y: hidden;
        }
    </style>
</head>
<body>
    <div class='container d-flex justify-content-center mt-4'>
        <div class="alert alert-success" role="alert" style='width: 30%;'>
            <h4 class="alert-title">Unsubscribed!</h4>
            <div class="text-secondary">You have been unsubscribed from all campaigns.</div>
        </div>
    </div>
</body>
</html>